.display-nickname {
    margin: 15px 0;
    text-align: center;
    padding: 5px 5px;
    
    &__title {
        font-weight: 600;
        color: #585856;
        margin-bottom: 10px;
    }
  
    &__result {
        font-size: 18px;
        color: #337931;
        font-weight: bold;
        min-height: 24px;
    }
  }